
div.nav-collapse {
	border: 5px solid #333333;
	padding: 10px;
} 


div.nav-collapse li {
	display: inline;
	padding-right: 5px;
} 

 div.nav-collapse ul {
 	display: inline;
 }

 div.nav-collapse a {
 	text-decoration: none;
 }

 .pull-right {
 	float: right;
 	margin-right: 15px;
 }

 .nav-item {
 	padding-right: 10px;
 }