// Place all the styles related to the reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



ul.report_list {
	width: 600px;
}


ul.report_list li {
	display: inline;
	padding-right: 10px;
	padding-top: 1px;
}

ul.requested_month_list {
	margin: 40px auto 10px auto;
	width: 70%;
	white-space: nowrap;
}

#period_cuarter_names {
	float:left;
	width: 200px;
}

#period_months{
  float:right;
	width: 380px;
}

ul.requested_month_list li {
	display: inline;
	padding-right: 10px;
}

li.first_time_in_report_list {
	float: left;
	width: 300px;
	border-right: 1px solid black;
}

li.last_time_in_report_list {
	float: right;
	width: 70px;
}

dl.edit_report dd {
	display: inline;
}

#bold_dd {
	font-weight: bold;
}

