<div class="navbar navbar-fixed-top">

  <div class="navbar-inner">

    <div class="container">

      

      <div class="nav-collapse">

        <ul class="nav">

          <li> <a class="brand" href= "http://localhost:3000/" >Reporte de Horas</a> </li>

        </ul>

            <%= render 'layouts/courselinks' %>

        <span class="nav pull-right">
             <%= render 'layouts/login' %>
        </span>
           
      </div>
    </div>
  </div>
</div>
